html {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.container {
    margin: 150px auto;
    width: 300px;
    height: 480px;
    border-radius: 20px;
    padding: 5px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    box-shadow: 10px 12px 120px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 12px 120px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 120px -14px rgba(0,0,0,0.75);
;
}

.qr-code {
    width: 280px;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
}

.container h2 {
    color: hsl(218, 44%, 22%);
}

.container p {
    color: hsl(220, 15%, 55%);
}